{% macro blog_summary(blog, header_size="h3") %}
    {% if blog.taxonomies.locations %}
        <div class="taxonomy">
            {% for location in blog.taxonomies.locations %}
                <small>
                    <a href="{{ get_taxonomy_url(kind="locations", name=location) | safe }}">{{ location }}</a>
                </small>
            {% endfor %}
        </div>
    {% endif %}
    <{{header_size}}>
        <a href="{{ blog.permalink }}">{{ blog.title }}</a>
    </{{header_size}}>
    <div class="subtitle">
        <small>
            <strong>{{ blog.date }}</strong>
        </small>
    </div>
{% endmacro blog_summary %}

{# how to use #}
{# 
    {% import "macros.html" as macros %}
    {{ macros::function_name(params) }} 
#}